cloud-computing/01-CloudComputing.pdf filter=lfs diff=lfs merge=lfs -text
cloud-computing/AWS_Cloud_Best_Practices.pdf filter=lfs diff=lfs merge=lfs -text
cloud-computing/datacenter-as-computer.pdf filter=lfs diff=lfs merge=lfs -text
mapreduce-hadoop/03-MapReduce[[:space:]]&[[:space:]]Hadoop.pdf filter=lfs diff=lfs merge=lfs -text
mapreduce-hadoop/hdfs_design.pdf filter=lfs diff=lfs merge=lfs -text
mapreduce-hadoop/map_reduce_tutorial.pdf filter=lfs diff=lfs merge=lfs -text
mapreduce-hadoop/mapreduce.pdf filter=lfs diff=lfs merge=lfs -text
cloud-computing/00-Intro.pdf filter=lfs diff=lfs merge=lfs -text
assignments/assingment1/Assignment[[:space:]]1.pdf filter=lfs diff=lfs merge=lfs -text
assignments/assingment1/Assignment[[:space:]]1-recap.pdf filter=lfs diff=lfs merge=lfs -text
nosql/cassandra.pdf filter=lfs diff=lfs merge=lfs -text
spark/04-The[[:space:]]Spark[[:space:]]Framework.pdf filter=lfs diff=lfs merge=lfs -text
spark/mapreduce-vs-spark.pdf filter=lfs diff=lfs merge=lfs -text
nosql/dangers-replication.pdf filter=lfs diff=lfs merge=lfs -text
streaming/approximate-freq-counts.pdf filter=lfs diff=lfs merge=lfs -text
nosql/megastore.pdf filter=lfs diff=lfs merge=lfs -text
spark/pregel.pdf filter=lfs diff=lfs merge=lfs -text
sql/aws-redshift.pdf filter=lfs diff=lfs merge=lfs -text
streaming/06-DataStreams.pdf filter=lfs diff=lfs merge=lfs -text
streaming/dataflow-model.pdf filter=lfs diff=lfs merge=lfs -text
sql/snowflake.pdf filter=lfs diff=lfs merge=lfs -text
streaming/spark_streaming.pdf filter=lfs diff=lfs merge=lfs -text
machine-learning/tpu.pdf filter=lfs diff=lfs merge=lfs -text
spark/spark-cacm.pdf filter=lfs diff=lfs merge=lfs -text
nosql/07-noSQL.pdf filter=lfs diff=lfs merge=lfs -text
nosql/spanner.pdf filter=lfs diff=lfs merge=lfs -text
sql/snowflake-slide.pdf filter=lfs diff=lfs merge=lfs -text
streaming/twitter-heron.pdf filter=lfs diff=lfs merge=lfs -text
machine-learning/deepcompression.pdf filter=lfs diff=lfs merge=lfs -text
spark/matrixfactorization.pdf filter=lfs diff=lfs merge=lfs -text
spark/mli.pdf filter=lfs diff=lfs merge=lfs -text
sql/choosing-cloud-dbms.pdf filter=lfs diff=lfs merge=lfs -text
sql/hive.pdf filter=lfs diff=lfs merge=lfs -text
machine-learning/05-Scalable[[:space:]]Machine[[:space:]]Learning.pdf filter=lfs diff=lfs merge=lfs -text
spark/cost.pdf filter=lfs diff=lfs merge=lfs -text
spark/spark.pdf filter=lfs diff=lfs merge=lfs -text
sql/08-SQL[[:space:]]on[[:space:]]Big[[:space:]]Data.pdf filter=lfs diff=lfs merge=lfs -text
